@model MvcTemplate.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jokes site</h1>
</div>

<h2>Categories</h2>

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-6">
            @category.Name
        </div>
    }
</div>

<br />

<h2>Jokes</h2>

<div class="row">
    @foreach (var joke in Model.Jokes)
            {
        <div class="col-md-3">
            @Html.Raw(joke.Content.Replace("\n", "<br>").Replace("<br><br>", "<br>").Replace("- <br>", "- "))
            <hr />
        </div>
    }
</div>